name: dd299blog
on:
  push:
    branches:
      - main
  schedule:
    # Runs everyday at 8:00 AM
    - cron: "0 0 * * *"
jobs:
  build-deploy:
    #    runs-on: ubuntu-20.04
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest"

      - name: Build Web
        run: hugo

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }} # 另外还支持 deploy_token 和 github_token
          external_repository: dake/dake.github.io # 修改为你的 GitHub Pages 仓库
          publish_dir: ./public
          #          keep_files: false
          publish_branch: master
          # 如果使用自定义域名，还需要添加下面一行配置
          cname: dake.life

